body {
    font-size: 7.936pt;
}

article {
    position: static;
    width: 90%;
    margin: 5%;
}

nav, footer .rfooter .cc-icon, footer .rfooter .atom-icon, footer .rfooter .rss-icon {
    width: 0;
    height: 0;
    visibility: hidden;
}
