body {
    margin: 5% 0;
    font-size: 12px;
}

pre {
    -webkit-print-color-adjust: exact;
}

.content, .content-separator, .footer {
    width: 90%;
}

.nav, .rss-icon, .atom-icon, .cc-icon {
    width: 0;
    height: 0;
    visibility: hidden;
}
