nav {
    position: static;
    padding: 5% 0 0 0;
    text-align: center;
    height: 100%;
    width: 100%;
}

nav div {
    text-align: center;
    margin: auto;
}

nav div .blog-icon {
    padding: 0;
    height: 150px;
    width: 150px;
    background-image: url("/img/icon-150.png");
    background-image: -webkit-image-set( url("/img/icon-150.png") 1x, url("/img/icon-300.png") 2x );
    background-size: 150px;
}

nav div.title, div.author {
    height: 0;
    width: 0;
    visibility: hidden;
    pointer-events: none;
}

article {
    position: static;
    width: 80%;
    padding: 0 10% 10% 10%;
}
