body {
    color: #333;
    font-family: "PT Serif", serif
}

nav {
    position: fixed;
    left: 5%;
    top: 10%;
}

nav a {
    text-decoration: none;
}

article {
    position: absolute;
    width: 50%;
    left: 20%;
    padding: 5%;
    font-size: 11pt;
    text-align: justify;
}

h1.title {
    text-align: center;
    font-size: 18pt;
}

h1.title code {
    font-size: 18pt;
}

h2 {
    text-align: center;
    font-size: 14pt;
}

h2.meta {
    font-size: 11pt;
    font-weight: normal;
    font-style: italic;
}

h2.toc {
    text-align: left;
}

h3 {
    font-size: 12pt;
}

code {
    font-family: 'Consolas', 'Monaco', 'Andale Mono', 'Courier', monospace;
    font-weight: thin;
}

pre {
    padding: 1em;
    background: #fbfbfb;
    border-left: 0.4em solid #ddd;
}

pre[class*=sourceCode] {
    position: relative;
    padding-left: 2em;
    margin: 0;
}

pre code {
    font-size: 10.5pt;
}

.line-number {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1em;
    pointer-events: none;
    white-space: pre;
}

.line-number:before {
    content: attr(data-line);
    position: absolute;
    top: .4em;
    left: .5em;
    min-width: 2em;
    color: #ccc;
    font: 500 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
}

blockquote {
    margin: 0 2em;
    font-style: italic;
}

div.footnotes {
    font-size: 10pt;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.figure .caption {
    text-align: center;
    font-size: 10pt;
}

.figure .caption code {
    font-size: 9.5pt;
}

a {
    color: #333;
}

footer .lfooter {
    float: left;
}

footer .lfooter .updated:before {
    content: "Last updated: "
}

footer .rfooter {
    float: right;
}

footer .rfooter .cc-icon {
    width: 16px;
    height: 16px;
    padding: 0 4px;
    display: inline-block;
    background-image: url("/img/cc-16.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    vertical-align: middle;
    font-size: 0;
}

footer .rfooter .feed-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url("/img/feed-14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    vertical-align: middle;
    font-size: 0;
}

div.indextoc ul {
    list-style-type: none;
    padding-left: 2em;
}

div.indextoc ul li time.tocdate {
    float: left;
    width: 5em;
}

noscript {
    color: #aaa;
}

noscript a {
    color: #aaa;
}
