body {
    color: #333;
    font-family: "PT Serif", serif;
    font-size: 10.99pt;
    margin: 100px 0;
}

.nav {
    position: fixed;
    left: 5%;
    top: 90px;
    height: 150px;
    width: 100px;
    text-align: center;
}

.nav-icon {
    margin: 2px 0;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url("/img/icon-100.png");
    background-image: -webkit-image-set( url("/img/icon-100.png") 1x, url("/img/icon-200.png") 2x );
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    vertical-align: middle;
    font-size: 0;
}

.nav-title {
    font-size: 16px;
    font-weight: bold;
    margin: 1px 0;
}

.nav-author {
    font-size: 12px;
}

.nav-link {
    text-decoration: none;
}

.content, .content-separator, .footer {
    width: 60%;
    margin: 0 auto;
}

.content-separator {
    margin: 15px auto 3px auto;
}

.content {
    text-align: justify;
}

h1 {
    text-align: center;
    font-size: 1.65em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 1.27em;
    font-weight: bold;
}

.article-metadata {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

a {
    color: #333;
}

code {
    font-size: 0.95em;
    font-family: 'Droid Sans Mono', 'Courier', monospace;
}

pre {
    padding: 1em;
    background: #fbfbfb;
    border-left: 0.4em solid #ddd;
}

pre[class*=sourceCode] {
    position: relative;
    padding-left: 2em;
    margin: 0;
}

pre code {
    font-size: 0.91em;
    line-height: 135%;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    font-style: italic;
    border-left: 0.4em solid #ddd;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.figure .caption {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 0.91em;
}

.figure .caption code {
    font-size: 0.87em;
}

noscript {
    color: #ccc;
}

noscript a {
    color: #ccc;
}

.line-number {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0.8em;
    pointer-events: none;
    white-space: pre;
}

.line-number:before {
    content: attr(data-line);
    position: absolute;
    top: .4em;
    left: .5em;
    min-width: 2em;
    color: #ccc;
    font-size: 0.65em;
    text-align: center;
    vertical-align: .3em;
}

.footnotes {
    font-size: 0.91em;
}

.footnotes p {
    margin: 0.6em 0;
}

.footnotes code {
    font-size: 0.87em;
}

.footnotes-backlink {
    margin-left: 0.2em;
    font-size: 1.2em;
    vertical-align: -0.2em;
    color: #bbb;
    text-decoration: none;
}

.footnotes-backlink:hover {
    background-color: #bbb;
    color: #fff;
}

.lfooter {
    float: left;
}

.lfooter .updated:before {
    content: "Last updated: "
}

.rfooter {
    float: right;
}

.rss-icon, .atom-icon, .cc-icon {
    width: 16px;
    height: 16px;
    margin: 0 2px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    vertical-align: middle;
    font-size: 0;
}

.rss-icon {
    background-image: url("/img/rss-16.png");
    background-image: -webkit-image-set( url("/img/rss-16.png") 1x, url("/img/rss-32.png") 2x );
    background-size: 14px;
}

.atom-icon {
    background-image: url("/img/feed-16.png");
    background-image: -webkit-image-set( url("/img/feed-16.png") 1x, url("/img/feed-32.png") 2x );
    background-size: 14px;
}

.cc-icon {
    background-image: url("/img/cc-16.png");
    background-image: -webkit-image-set( url("/img/cc-16.png") 1x, url("/img/cc-32.png") 2x );
}

/* blog index */

.blog-index-year-title {
    text-align: left;
}

.blog-index-yearly-index {
    margin-left: 1em;
}

.blog-index td {
    vertical-align: top;
}

.blog-index-post-date {
    width: 5em;
}
