body {
    color: #333;
    font-family: "PT Serif", serif;
    font-size: 10.99pt;
}

nav {
    position: fixed;
    left: 5%;
    top: 10%;
    height: 150px;
    width: 100px;
}

nav div {
    text-align: center;
}

nav div.logo {
    padding: 2px 0;
}

nav div.title {
    font-size: 16px;
    font-weight: bold;
    padding: 1px 0;
}

nav div.author {
    font-size: 12px;
}

nav a {
    text-decoration: none;
}

article {
    position: absolute;
    width: 50%;
    padding: 5% 0;
    left: 25%;
    font-size: 1em;
    text-align: justify;
}

article code {
    font-size: 0.95em;
}

h1.title {
    text-align: center;
    font-size: 1.65em;
}

h2 {
    text-align: center;
    font-size: 1.27em;
}

h2.meta {
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

h2.toc {
    text-align: left;
}

h3 {
    font-size: 1.1em;
}

code {
    font-family: 'Droid Sans Mono', 'Courier', monospace;
    font-weight: thin;
}

pre {
    padding: 1em;
    background: #fbfbfb;
    border-left: 0.4em solid #ddd;
}

pre[class*=sourceCode] {
    position: relative;
    padding-left: 2em;
    margin: 0;
}

pre code {
    font-size: 0.91em;
    line-height: 135%;
}

.line-number {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0.8em;
    pointer-events: none;
    white-space: pre;
}

.line-number:before {
    content: attr(data-line);
    position: absolute;
    top: .4em;
    left: .5em;
    min-width: 2em;
    color: #ccc;
    font-size: 0.65em;
    text-align: center;
    vertical-align: .3em;
}

blockquote {
    margin: 0 2em;
    font-style: italic;
}

div.footnotes {
    font-size: 0.91em;
}

div.footnotes p {
    margin: 0.6em 0;
}

div.footnotes code {
    font-size: 0.87em;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.figure .caption {
    text-align: center;
    font-size: 0.91em;
}

.figure .caption code {
    font-size: 0.87em;
}

a {
    color: #333;
}

footer .lfooter {
    float: left;
}

footer .lfooter .updated:before {
    content: "Last updated: "
}

footer .rfooter {
    float: right;
}

footer .rfooter .cc-icon {
    width: 16px;
    height: 16px;
    padding: 0 2px;
    display: inline-block;
    background-image: url("/img/cc-16.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    vertical-align: middle;
    font-size: 0;
}

footer .rfooter .atom-icon {
    width: 16px;
    height: 16px;
    padding: 0 2px;
    display: inline-block;
    background-image: url("/img/feed-14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    vertical-align: middle;
    font-size: 0;
}

footer .rfooter .rss-icon {
    width: 16px;
    height: 16px;
    padding: 0 2px;
    display: inline-block;
    background-image: url("/img/rss-14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    vertical-align: middle;
    font-size: 0;
}

div.indextoc table {
    margin-left: 1em;
}

div.indextoc td {
    vertical-align: top;
}

div.indextoc td.date {
    width: 5em;
}

noscript {
    color: #ccc;
}

noscript a {
    color: #ccc;
}
